<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>step06_JSPExam</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 각 예외타입별 예외 처리 등록하기 -->
  <!-- 서버가 시작될 때 먼저 딱 한 번 실행됨. 세팅 설정하는 역할. location 경로에 '/' 주의 -->
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/ex1005/exception/ex02/error/number.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/ex1005/exception/ex02/error/arith.jsp</location>
  </error-page>
</web-app>